.glowing {
  animation-duration: 1s;
  animation-name: glow;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes glow {
  from {
    opacity: 85%;
  }
  70% {
    opacity: 85%;
  }
  to {
    opacity: 100%;
  }
}
